.index__recommend__src-partition-recommend- {
    position: relative;
    width: 100%;
    padding-top: .08533rem;
}
.index__recommend__src-partition-recommend- .index__title__src-partition-recommend- {
    position: relative;
    margin-left: .512rem;
}
.index__recommend__src-partition-recommend- .index__title__src-partition-recommend- p {
    font-size: .68267rem;
    line-height: 2.26133rem;
    text-align: left;
    color: #212121;
}
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- {
    position: absolute;
    right: .512rem;
    top: .85333rem;
}
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__words__src-partition-recommend- {
    position: relative;
    float: left;
    width: 1.87733rem;
    margin-top: .14933rem;
}
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__words__src-partition-recommend- p {
    font-size: .59733rem;
    color: #ffa726;
    text-align: center;
    line-height: .59733rem;
}
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__arrow__src-partition-recommend- {
    position: relative;
    width: .59733rem;
    height: .59733rem;
    margin-top: .14933rem;
    margin-left: .21333rem;
    float: left;
}
.index__recommend__src-partition-recommend- .index__content__src-partition-recommend- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem;
}
.index__item__src-commonComponent-Item- {
    display: block;
    text-decoration: none;
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: .68267rem;
}
.index__imgContainer__src-commonComponent-Item- {
    position: relative;
    width: 7.232rem;
    height: 4.52267rem;
    overflow: hidden;
    display: block;
    margin: auto;
    border-radius: .256rem;
    -webkit-border-radius: .256rem;
    background-color: #e7e7e7;
    z-index: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(transparent 50%,rgba(0,0,0,.5));
}
.index__imgContainer__src-commonComponent-Item- img.index__tv__src-commonComponent-Item- {
    position: relative;
    width: 4.52267rem;
    height: 4.52267rem;
    z-index: 1;
}
.index__imgContainer__src-commonComponent-Item- img.index__normal__src-commonComponent-Item- {
    position: absolute;
    top: 0;
    z-index: 2;
}
.index__imgContainer__src-commonComponent-Item->img {
    display: block;
    width: 100%;
}
.index__imgContainer__src-commonComponent-Item- img {
    color: transparent;
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
}
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- {
    position: absolute;
    z-index: 3;
    left: 0;
    padding-left: .34133rem;
    width: 100%;
    bottom: 0;
    height: .68267rem;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(33,33,33,0)),to(rgba(33,33,33,.5)));
    background: linear-gradient(180deg,rgba(33,33,33,0),rgba(33,33,33,.5));
}
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item-, 
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__playIcon__src-commonComponent-Item- {
    position: relative;
    float: left;
    width: .68267rem;
    margin-top: -.064rem;
}
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item-, 
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- {
    position: relative;
    float: left;
    margin-left: .256rem;
    width: 2.048rem;
}
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item- p, 
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- p {
    text-align: left;
    font-size: .46933rem;
    color: #fff;
    line-height: .59733rem;
}
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item- {
    margin-left: .61867rem;
}
.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- {
    width: 7.232rem;
    position: relative;
    margin: auto;
    margin-top: .21333rem;
    height: 1.36533rem;
    overflow: hidden;
}
.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- p {
    font-size: .55467rem;
    color: #212121;
    letter-spacing: 0;
    line-height: .68267rem;
    text-align: left;
}